{% extends 'base.html.twig' %}

{% block title %}Espace groupe {% if app.user is not null %} de {{app.user.username}} {% endif %}{% endblock %}

{% block body %}
<h2 class="text-center">Vos groupes</h2>
<a href="{{path('groupes_add')}}" class="btn btn-primary">Créer un groupe</a>

{% if user|length > 0 %}

{% for groupe in user.groupes %}
<h2>Name : {{groupe.name}}</h2>
<h2>Date : {{groupe.date.date}}</h2>
<a href="{{path('groupes_display',{'id':groupe.id})}}" class="btn btn-danger">
Accéder au groupe
</a>
{% endfor %}

{% else %}

<h3>Vous n'avez pas encore créé de groupe / ou été invité à en rejoindre</h3

{% endif %}

{% endblock %}
