{% extends 'base.html.twig' %}

{% block content %}

<h1>Profil</h1>
<h3 class="mt-4">Id : {{ user.id }}</h3>
<h3 class="mt-4">Pseudo : {{ user.username }}</h3>
<h3 class="mt-4"> Email : {{ user.email }}</h3>
<img class="img-fluid rounded" src="{{ asset('/photos/' ~ user.photo) }}" alt="" width="20%">

<a href="{{path('profile_update',{'id':user.id})}}">Modifier le profil</a>

{% endblock %}